@charset "UTF-8";

/* 레이아웃 */
body {
    height: 100vh;
    /* 현재 화면의 높이를 나타내는 단위 */
    font-size: 16px;
}

#header {
    width: 100%;
    height: 100px;
    /* background: rgba(0, 0, 0, 0.1); */
    position: fixed;
    top: 0;
    left: 0;
    align-items: baseline;
}

#section1 {
    width: 100%;
    height: 250vh;
    background: url(../img/mainimage.jpg) no-repeat center;
    background-size: cover;
}

#section2 {
    width: 100%;


}

#section3 {
    width: 100%;


}

#section4 {
    width: 100%;

}

#footer {
    /* clear: both; */
    width: 100%;

}

/* 공통요소 */
.container {
    /* width: 90%; */
    /* 화면 너비의 90% */
    /* max-width: 1920px; */
    display: flex;
    /* flexbox 레이아웃 사용 */
    flex-direction: column;
    /* 열 방향으로 정렬 */
    align-items: normal;
    /* 가운데 정렬 */
}

.row {
    /* padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

/* 헤더영역 */
#header .row {
    padding: 1rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

#header .row h1 {
    font-family: 'Poppins';
    color: #fff;
    line-height: 0.8;
    /* 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    */
    /* 
    display: flex;:  Flexbox 컨테이너로 만들고
    flex-direction: column;: 주축을 세로 방향으로 설정 
    align-items: flex-start;: 아이템들을 왼쪽 정렬
    대신 display: block;
    */
}

#header .row h1 strong,
em {
    display: block;
    text-transform: uppercase;
}

#header .row h1 strong {
    font-size: 1.875rem;
    /* font-size: 30px; */
    font-weight: 900;
}

#header .row h1 em {
    font-size: 1.5rem;
    /* font-size: 24px; */
    font-weight: 100;
    letter-spacing: 1rem;
}

#header .row nav {
    font-family: 'Poppins';
    font-size: 1.875rem;
    /* font-size: 30px; */
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

/* 섹션1영역 */
#section1 .intro_text1 {
    padding-top: 22%;
    padding-left: 6.5rem;
}

#section1 .intro_text1 p {
    font-family: 'IropkeBatang';
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
}

#section1 .intro_text2 {
    padding-top: 6.5vh;
    padding-left: 5.375rem;
}

#section1 .intro_text2 h2 div {
    font-family: 'GmarketSans';
    font-size: 12.5rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: -1rem;
    line-height: 1.05;
}

#section1 .more {}

/* 섹션2 제목영역*/
#section2 .row h2 {
    padding-top: 15%;
    padding-left: 7.7rem;
    /* 9.25rem */
    font-family: 'Poppins';
    font-size: 18.75rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #222;
    letter-spacing: -2.45rem;
}

/* 아티클1 이미지영역 */
#section2 .row .article1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#section2 .row .article1 .img_left {
    width: 50%;
}

#section2 .row .article1 .img_left .imgwrap {
    width: 80%;
    height: 120vh;
}

#section2 .row .article1 .img_left .imgwrap .img {
    width: 100%;
    height: 100%;
    background-image: url(../img/designimg01.jpg);
    background-repeat: no-repeat;
    /* background-position: left top; */
    background-size: cover;
    position: relative;
    top: -22vh;
    /* padding-left: 9.25rem; */
    margin-left: 9.25rem;
}

/* 아티클1 텍스트영역 */
#section2 .row .article1 .text_right {
    width: 50%;
}

#section2 .row .article1 .text_right h3 {
    font-family: 'Italiana';
    font-size: 3.125rem;
    padding-top: 5vh;
    padding-left: 10%;
}

#section2 .row .article1 .text_right p {
    font-family: 'NanumSquareNeo';
    font-size: 1.125rem;
    padding-top: 4.5vh;
    padding-left: 10%;
}

#section2 .row .article1 .text_right div {
    padding-left: 37rem;
}

#section2 .row .article1 .text_right div .btn {
    font-family: 'Poppins';
    font-size: 1.125rem;
    display: inline-block;
    text-transform: uppercase;
    padding-top: 15vh;
    padding-left: 7rem;
    border-bottom: 1px solid #222;
    letter-spacing: 1rem;
}

/* 아티클2 텍스트영역 */
#section2 .row .article2 {
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    /* float: left; */
}

#section2 .row .article2 .text_left {
    width: 50%;
    text-align: right;
    float: left;
}

#section2 .row .article2 .text_left h3 {
    font-family: 'Italiana';
    font-size: 3.125rem;
    padding-right: 10%;

}

#section2 .row .article2 .text_left p {
    font-family: 'NanumSquareNeo';
    font-size: 1.125rem;
    padding-top: 4.5vh;
    padding-right: 10%;
}

#section2 .row .article2 .text_left div .btn {
    font-family: 'Poppins';
    font-size: 1.125rem;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 7rem;
    border-bottom: 1px solid #222;
    letter-spacing: 1rem;
}

/* 아티클2 이미지영역 */
#section2 .row .article2 .img_right {
    width: 60%;
    float: right;
}

#section2 .row .article2 .img_right .imgwrap {
    width: 80%;
    height: 120vh;
}

#section2 .row .article2 .img_right .imgwrap .img {
    width: 100%;
    height: 100%;
    background-image: url(../img/designimg02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-left: 9.25em;
}

/* 아티클3 이미지영역 */

#section2 .row .article3 .img_left {}

#section2 .row .article3 .img_left .imgwrap {
    width: 100%;
    height: 120vh;
}

#section2 .row .article3 .img_left .imgwrap img {
    /* background-image: url(../img/designimg03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 50vh;
    margin-left: 9.25em; */
}

/* 섹션2 아티클3 텍스트영역 */
#section2 .row .article3 .text_right {}

#section2 .row .article3 .text_right h3 {}

#section2 .row .article3 .text_right p {}

#section2 .row .article3 .text_right div {}

#section2 .row .article3 .text_right div a {}

/* 섹션3 */
#section3 {}

/* 섹션4 */
#section4 {}

/* 푸터영역 */
#footer {}